
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Python Compilation Files
*.pyc

# django-compressor files
/richardtruong/static/CACHE/*

