// Colors

@white: #ffffff;
@very-light-gray: #e0e0e0;
@very-dark-gray: #222222;
@green: #008B00;
@beige: #f5f5dc;



// Media Query Breakpoints

@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;;
@screen-lg-min: 1200px;



// Home CSS

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Verdana", Sans-serif;
}

#hero {
	height: 100%;
	background: no-repeat center right fixed url('/static/images/hmc_dartmouth_entrance.jpg');
	background-size: cover;

	.container {
		// Veritcally center contents
		height: 100%;
		padding-bottom: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		// Style contents
		color: @white;
		h1 {
			margin-bottom: 0;
			@media (min-width: @screen-sm-min) {
				font-size: 72px;
			}
		}
		p {
			margin-top: 0;
			@media (min-width: @screen-sm-min) {
				font-size: 24px;
			}
		}

		hr {
			width: 175px;
			@media (min-width: @screen-sm-min) {
				width: 350px;
			}
		}
	}
}

.scroll-down {
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
	text-align: center;
	background-color: @very-dark-gray;

	@media (min-width: @screen-sm-min) {
		right: 5%;
		width: 110px;
	}

	.glyphicon {
		padding-top: 25px;
		left: 2px;
		font-size: 30px;
		color: @white;

		// Bouncing animation
		animation-name: wiggle;
		animation-duration: 1.2s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;

		@keyframes wiggle {
			0% {
				padding-top: 24px;
			}
			50% {
				padding-top: 30px;
			}
			100% {
				padding-top: 24px;
			}
		}
	}
}

// Container modification for all the scroll modules
.container.scroll-module {
	// Create spacing for right rail navigation
	@media (min-width: @screen-sm-min) {
		padding: 50px 160px;
	}

	// Spacing and styling for header module
	hr {
		@media (min-width: @screen-sm-min) {
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}
	h2 {
		margin-top: 40px;
		margin-bottom: 40px;
		color: @green;
		@media (min-width: @screen-sm-min) {
			margin-top: 0;
			font-size: 48px;
		}
	}

	// Subheadings green
	h3 {
		color: @green;
	}
}

#profile {
	.container {
		img {
			margin-top: 20px;
			width: 250px;
			height: 250px;
			border: 15px solid @very-light-gray;
			border-radius: 50%;
		}
		@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
			img {
				width: 170px;
				height: 170px;
				border: 10px solid @very-light-gray;
			}
		}
	}
}


#experiences {
	background-color: @beige;

	.experience {
		margin-bottom: 40px;

		.description {
			white-space: pre-line;
		}

		.location {
			color: @green;
		}
	}
}
