// Colors

@white: #ffffff;
@very-dark-gray: #222222;



// Media Query Breakpoints

@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;;
@screen-lg-min: 1200px;



// Home CSS

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Verdana", Sans-serif;
}

.hero {
	height: 100%;
	background: no-repeat center right fixed url('/static/images/hmc_dartmouth_entrance.jpg');
	background-size: cover;

	.container {
		// Veritcally center contents
		height: 100%;
		padding-bottom: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		text-align: center;
		color: @white;

		@media (min-width: @screen-sm-min) {
			h1 {
				font-size: 72px;
			}
			p {
				font-size: 24px;
			}
		}
	}
}

.scroll-down {
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
	text-align: center;
	background-color: @very-dark-gray;

	@media (min-width: @screen-sm-min) {
		right: 5%;
		width: 110px;
	}

	.glyphicon {
		padding-top: 25px;
		left: 2px;
		font-size: 30px;
		color: @white;

		// animation
		animation-name: wiggle;
		animation-duration: 1.2s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;

		@keyframes wiggle {
			0% {
				padding-top: 24px;
			}
			50% {
				padding-top: 30px;
			}
			100% {
				padding-top: 24px;
			}
		}
	}
}
